{% include 'overall_header.html' %}

<h1>{{ lang('ACP_MAILRELAY') }}</h1>
{{ lang('ACP_MAILRELAY_EXPLAIN') }}

{% if VALIDATION_ERRORS %}
<div class="errorbox">
	{% for ERROR in VALIDATION_ERRORS %}
	<p>{{ ERROR.MESSAGE }}</p>
	{% endfor %}
</div>
{% endif %}

<form id="mailrelay-settings" method="POST" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('SETTINGS') }}</legend>
		<dl>
			<dt>
				<label for="mailrelay-api-account">{{ lang('ACP_MAILRELAY_API_ACCOUNT') ~ lang('COLON') }}</label>
				<br><span>{{ lang('ACP_MAILRELAY_API_ACCOUNT_EXPLAIN') }}</span>
			</dt>
			<dd>
				https://<input type="text" id="mailrelay-api-account" name="mailrelay_api_account" required="required" autocomplete="off" class="narrow"{% if MAILRELAY_API_ACCOUNT %} value="{{ MAILRELAY_API_ACCOUNT }}"{% endif %}>.ipzmarketing.com
				{% if MAILRELAY_API_ACCOUNT %}
				<a href="{{ 'https://' ~ MAILRELAY_API_ACCOUNT ~ '.ipzmarketing.com' }}" rel="external nofollow noreferrer noopener" target="_blank"><i class="icon fa-lg fa-external-link" aria-hidden="true"></i></a>
				{% endif %}
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="mailrelay-api-token">{{ lang('ACP_MAILRELAY_API_TOKEN') ~ lang('COLON') }}</label>
				<br><span>{{ lang('ACP_MAILRELAY_API_TOKEN_EXPLAIN') }}</span>
			</dt>
			<dd>
				<input type="password" id="mailrelay-api-token" name="mailrelay_api_token" required="required" autocomplete="off" class="medium"{% if MAILRELAY_API_TOKEN %} value="{{ MAILRELAY_API_TOKEN }}"{% endif %}>
				<span class="toggle-api-token">
					<i class="icon fa-lg fa-eye" aria-hidden="true"></i>
				</span>
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="mailrelay-group-id">{{ lang('ACP_MAILRELAY_GROUP_ID') ~ lang('COLON') }}</label>
				<br><span>{{ lang('ACP_MAILRELAY_GROUP_ID_EXPLAIN') }}</span>
			</dt>
			<dd>
				<input type="number" id="mailrelay-group-id" name="mailrelay_group_id" required="required" autocomplete="off" min="1" max="99999" value="{% if MAILRELAY_GROUP_ID %}{{ MAILRELAY_GROUP_ID }}{% else %}1{% endif %}">
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="mailrelay-sync-packet-size">{{ lang('ACP_MAILRELAY_SYNC_PACKET_SIZE') ~ lang('COLON') }}</label>
				<br><span>{{ lang('ACP_MAILRELAY_SYNC_PACKET_SIZE_EXPLAIN') }}</span>
			</dt>
			<dd>
				<input type="number" id="mailrelay-sync-packet-size" name="mailrelay_sync_packet_size" required="required" autocomplete="off" min="1" max="99999" value="{% if MAILRELAY_SYNC_PACKET_SIZE %}{{ MAILRELAY_SYNC_PACKET_SIZE }}{% else %}150{% endif %}">
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="mailrelay-sync-frequency">{{ lang('ACP_MAILRELAY_SYNC_FREQUENCY') ~ lang('COLON') }}</label>
				<br><span>{{ lang('ACP_MAILRELAY_SYNC_FREQUENCY_EXPLAIN') }}</span>
			</dt>
			<dd>
				<input type="number" id="mailrelay-sync-frequency" name="mailrelay_sync_frequency_number" required="required" autocomplete="off" min="1" max="99999" value="{% if MAILRELAY_SYNC_FREQUENCY %}{{ MAILRELAY_SYNC_FREQUENCY }}{% else %}1{% endif %}">
				{% if MAILRELAY_SYNC_FREQUENCY_TYPES %}
				<select name="mailrelay_sync_frequency_type">
					{% for TYPE in MAILRELAY_SYNC_FREQUENCY_TYPES %}
					<option value="{{ TYPE.KEY }}"{% if TYPE.ENABLED %} selected="selected"{% endif%}>{{ TYPE.NAME }}</option>
					{% endfor %}
				</select>
				{% endif %}
			</dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>
		<p class="submit-buttons">
			<input type="reset" class="button2" value="{{ lang('RESET') }}">
			<input type="submit" name="submit" class="button1" value="{{ lang('SUBMIT') }}">
		</p>
	</fieldset>

	{{ S_FORM_TOKEN }}
</form>

{% include 'overall_footer.html' %}
